
SET session_replication_role = 'replica';
DELETE FROM order_items;
DELETE FROM orders;
DELETE FROM commissions;
DELETE FROM withdrawal_requests;
DELETE FROM wallet_transactions;
DELETE FROM refunds;
UPDATE seller_wallets SET available_balance = 0, pending_balance = 0, reserved_balance = 0, refund_liability = 0, total_earned = 0, total_withdrawn = 0;
SET session_replication_role = 'origin';

